.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  padding: 20px;
  border-radius: 12px;
  min-width: 300px;
  max-width: 90%;
  background-color: rgb(30 27 75);
}